/*! Variables */
:root {
  --container-width: 72.5%;
  --container-secondary-width: 75%;
  --main-color: #c9ac6d;
}

@media screen and (max-width: 1280px) {
  :root {
    --container-width: 85%;
    --container-secondary-width: 90%;
  }
}

svg {
  width: 15px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  row-gap: 3rem;
  width: var(--container-width);
  margin: 0 auto;
  padding: 3rem 0;
}

.blogs .blog {
  display: flex;
  flex-direction: column;
}

.blogs .blog .blog-img {
  max-height: 430px;
  overflow: hidden;
  margin-bottom: 0.75rem;
}

.blogs .blog .blog-img img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: 0.35s;
}

.blogs .blog .blog-img img:hover {
  scale: 1.05;
}

.blogs .blog .content h2 {
  color: var(--main-color);
  font-size: 20px;
}

.blogs .blog .content h3 {
  font-size: 18px;
  margin: 0.4rem 0;
  line-height: 1.4;
}

.blogs .blog .content p {
  font-size: 12px;
  line-height: 1.8;
}

.blogs .blog .content p svg {
  margin-bottom: -3px;
}

@media screen and (max-width: 440px) {
  .blogs {
    width: 100%;
    padding: 3rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
